body{
	background-image: url('../assets/background.jpg');
	background-repeat: repeat;
	background-position: right top;
	background-attachment: fixed;
	font-size: 18px;
	font-family: 'Exo', sans-serif;
	color: #f0f0f0;
}/*deals with background and text*/
a:link, a:visited {
	color: #f0f0f0;
	background-color: #0f0f0f;
	text-decoration: none;
	padding: 14px 25px;
	display: inline-block;
	border-radius: 1px;
	border-style: solid;
	border-color: #3677e3;
	border-width: 1px;
}
a:hover {
	color: #f0f0f0;
	background-color: #0f0f0f;
	text-decoration: underline;
	padding: 14px 25px;
	display: inline-block;
	border-radius: 1px;
	border-style: solid;
	border-color: #3677e3;
	border-width: 1px;
}
a:active {
	color: #3f6c99;
	background-color: #0f0f0f;
	text-decoration: none;
	padding: 14px 25px;
	display: inline-block;
	border-radius: 1px;
	border-style: solid;
	border-color: #3677e3;
	border-width: 1px;
}
.accentNav {
	list-style-type: none;
	text-align: center;
	color: #f0f0f0;
}

/*page 1*/
.landingBox {
	width: 1100px;
	display: grid;
	background-image: linear-gradient(165deg, #0f0f0f, #212121);
	background-repeat: no-repeat;
	overflow: hidden;
	margin: auto;
	border-radius: 50px;
	border-style: solid;
	border-color: #3677e3;
	border-width: 10px;
	padding: 10px;
}

/*page 2*/
.accentHeader{
	text-align: right;
	margin-right: auto;
	font-size: 12px;
}
.accentTitle{
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
	font-size: 30px;
}
.accent1{
	text-align: center;
	padding-top: 10px;
	font-size: 33px;
}
.accent1-1{
	text-align: left;
}
.accent2{
	text-align: center;
	padding-top: 10px;
	font-size: 33px;
}
.accent2-1{
	text-align: left;
}
.accent3{
	text-align: center;
	padding-top: 10px;
	font-size: 33px;
}
.accent3-1{
	text-align: center;
	font-size: 25px;
}
.accent3-2{
	text-align: left;
}
.accentFooter{
	text-align: center;
}/*text*/
.title{ grid-area: title; }
.div1{ grid-area: div1; }
.div2{ grid-area: div2; }
.div3{ grid-area: div3; }
.footer{ grid-area: footer; }

.grid-container{
	width: 1100px;
	display: grid;
 	grid-template-areas:
    'title title title title title title'
    'div1 div1 div1 div2 div2 div2'
    'div3 div3 div3 div3 div3 div3'
    'footer footer footer footer footer footer';
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-gap: 2px;
	background-image: linear-gradient(165deg, #0f0f0f, #212121);
	background-repeat: no-repeat;
	overflow: hidden;
	margin: auto;
	border-radius: 50px;
	border-style: solid;
	border-color: #3677e3;
	border-width: 10px;
	padding: 10px;
}
.grid-container > div{
	background-color: rgba(0, 0, 0, 0);
	padding: 20px 0;
}/*grid*/
p{
	margin-bottom: 0px;
	margin-top: 0px;
}
.content{
	display: inline-block;
	width: 100%;
	margin-bottom: 35px;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}/*spacing*/
.imageDiv1{
	padding-right: 10px;
	padding-top: 10px;
}
.imageDiv2{
	padding-right: 10px;
	padding-left: 10px;
}
.imageDiv3{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: #3677e3;
	border-width: 8px;
	border-style: solid;
}/*image styling*/
.youtube{
	border-color: #3677e3;
	border-width: 8px;
	border-style: solid;
}
#submit{
    display:none;
}
